.quotation
{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.quotation button
{
    font-family: 'Satoshi', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--purple);
    color: white;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.quotationtop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.quotationcontainer
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: var(--white);
    padding: 35px 40px;
    border-radius: 20px;
    gap: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.item:hover
{
    transform: translateY(-2px);
    box-shadow: 0 0 20px 0 rgba(255, 66, 0, 0.2);
}

.itemtop
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
}

.itemtop h2
{
    font-size: 30px;
    font-weight: 400;
}

.itemtop span
{
    font-size: 20px;
    color: var(--orange);
    font-weight: 400;
}

.itembottom
{
    padding-bottom: 15px;
}

.itembottom p
{
    font-size: 16px;
    font-weight: 300;
}