.formcontainer
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 15px 60px;
}

.formtop
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d1d5db;
}

.formlinetop
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.formcontainerinput
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formtop input,
.formtop textarea
{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset;
    font-family: 'Satoshi', sans-serif;
    width: 100%;
    padding: 10px;
    resize: none;
    background-color: var(--dark-white);
    border: 1px solid #d1d5db;
    color: #1f2937;
    border-radius: 10px;
    font-size: 16px;
}

.label
{
    font-size: 16px;
    color: #979797;
    font-weight: 400;
}

.formtop input
{
    height: 45px;
}

.formtop textarea
{
    height: 80px;
}

.formtop input[type="number"]::-webkit-outer-spin-button,
.formtop input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.formtop input[type="number"]
{
    -moz-appearance: textfield;
}

.formAnswer
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.answerOption
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 60px;
    gap: 15px;
    flex-basis: 50%;
}

.answerOption:last-child
{
    border-left: 1px solid #d1d5db;
}

.answerOption button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px 6px 8px;
    border: none;
    border-radius: 5px;
    background: rgba(130, 0, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.answerOption span
{
    font-size: 24px;
    font-weight: 400;
}