.notifcationcard
{
    width: 100%;
    height: 100%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background: rgba(149, 164, 252, 0.3);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    gap: 20px;
}

.notifcationcardcontainer
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.notifcationcard h1
{
    color: #202329;
    font-size: 28px;
    font-weight: 300;
}

.notificationinfo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notificationinfo:not(:last-child)
{
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.infoleft
{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
}

.infoleft h3
{
    color: #202329;
    font-size: 16px;
    font-weight: 700;
}

.infoleft p
{
    color: #202329;
    font-size: 14px;
    font-weight: 300;
}

.inforight
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
}

.inforight p
{
    color: #202329;
    font-size: 14px;
    font-weight: 300;
}